@page "/"
@using Assigment_1.Data
@using Models
@inject IAdultService AdultService
@inject NavigationManager NavigationManager;




<div class="container p-3 my-3">

    <h1>Hello, please log in</h1>
   
</div>

